:host {
  margin: 0;
  padding: 20px;
  overflow: scroll;

  & > ul {
    padding-left: 0;

    & > li {
      padding-bottom: 20px;
      font-weight: 700;

      & > ul > li {
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

ul {
  list-style: none;
}

.material-icons {
  cursor: pointer;

  &.-locked {
    color: #cc0000;
  }

  &.-unlocked {
    color: #009a00;
  }
}
