$assassins-white: #fcfcfb;
$naval-blue: #416f80;
$pale-blue: #819ea9;
$gold: #bfb4a0;
$pale-gold: #f2efeb;

$palette-blackflag-primary: (
  50 : #e8eef0,
  100 : #c6d4d9,
  200 : #a0b7c0,
  300 : #709daf,
  400 : #5e8593,
  500 : $naval-blue,
  600 : #3b6778,
  700 : #325c6d,
  800 : #2a5263,
  900 : #0f4454,
  A100 : #90daff,
  A200 : #5dc9ff,
  A400 : #2ab8ff,
  A700 : #11b0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-blackflag-secondary: (
  50 : #f7f6f4,
  100 : #ece9e3,
  200 : #f2e6d1,
  300 : #d2cbbd,
  400 : #c9bfae,
  500 : $gold,
  600 : #b9ad98,
  700 : #b1a48e,
  800 : #a99c84,
  900 : #8f8471,
  A100 : #ffffff,
  A200 : #fff6e8,
  A400 : #ffe3b5,
  A700 : #ffda9c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
