<div class="ship" [class.sailing]="!ship.available" (click)="toggleShipLock()">
  <div class="ship-status">
    <i [class.icon-anchor]="ship.available" [class.icon-ship]="!ship.available"></i> |
    <i class="icon-cargo"></i> {{ ship.cargoCapacity }} |
    <i class="icon-speed"></i> {{ ship.speed }} |
    <i class="icon-firepower"></i> {{ ship.firePower }}

    <span class="delete-ship" (click)="deleteShip($event)">&times;</span>
  </div>

  <i class="icon-{{ ship.kind }}"></i>
  <p class="ship-name">{{ ship.name }}</p>
  <p class="ship-kind" [innerHTML]="shipKindName"></p>
</div>
