@import "~@angular/material/theming";
@import "~styles/variables.scss";

:host {
  @include mat-elevation(2);
  display: block;
  margin: 0 0.625rem 0.625rem 0;
  padding: 0;
}

.ship {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0.625rem 1.25rem 1.25rem;
  text-align: center;
  user-select: none;

  & > i {
    font-size: 5rem;
    color: $naval-blue;
  }
}

.ship-status {
  position: relative;
  margin: 0 -0.625rem 0.625rem;
  padding-right: 1.25rem;
  font-weight: 400;
  line-height: 1;
  color: $gold;
  white-space: nowrap;
  text-align: left;
  cursor: default;

  .icon-anchor {
    color: map-get($mat-green, 700);
  }

  .icon-ship {
    color: map-get($mat-red, 700);
  }

  .delete-ship {
    visibility: hidden;
    position: absolute;
    right: 0;
    font-size: 1.25rem;
    color: map-get($mat-red, 700);
    cursor: pointer;
  }
}

.ship:hover .ship-status .delete-ship {
  visibility: visible;
}

p {
  margin: 0;
}

.ship-name {
  margin-bottom: 0.3125rem;
  font-family: 'trajan-pro-3', serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: $naval-blue;
  white-space: nowrap;
}

.ship-kind {
  font-weight: 400;
  color: $gold;
}

.ship.sailing {
  & > i::before {
    color: $gold;
    transform: rotate(-2deg);
    animation-name: sailing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  .ship-name {
    color: $gold;
  }
}

@keyframes sailing {
  50% {
    transform: rotate(0) translateY(5px);
  }
}
