@import "~@angular/material/theming";
@import "~variables.scss";

:host {
  @include mat-elevation(2);
  position: relative;
  display: block;
  margin: 0 10px 10px 0;
  padding: 5px 15px 15px;
  flex: 1 1 content;
  text-align: center;
  cursor: pointer;
  user-select: none;

  .ship-status {
    margin-bottom: 10px;
    margin-left: -10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    color: $gold;
    white-space: nowrap;
    text-align: left;

    .icon-anchor {
      color: map-get($mat-green, 700);
    }

    .icon-ship {
      color: map-get($mat-red, 700);
    }
  }

  & > i {
    font-size: 80px;
    color: $gold;
  }

  p {
    margin: 0;
  }

  .ship-name {
    margin-bottom: 5px;
    font-family: 'trajan-pro-3', serif;
    font-size: 18px;
    font-weight: bold;
    color: $naval-blue;
  }

  .ship-kind {
    font-size: 16px;
    font-weight: 300;
    color: $gold;
  }
}
