@import "~@angular/material/theming";
@import "~styles/variables.scss";

:host {
  display: block;
}

.ship-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

button {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.add-ship {
  @include mat-elevation(2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 0.625rem 0.625rem 0;
  padding: 1.25rem;
  text-align: center;
  color: $gold;
  cursor: pointer;

  i {
    font-size: 5rem;
  }

  p {
    margin: 0;
    font-weight: 400;
  }
}
