@import "~styles/variables.scss";

:host {
  display: block;
}

.ship-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

button {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
