<div class="ship-list">
  <app-ship *ngFor="let ship of ships$ | async; trackBy: ship?.position;" [ship]="ship" (click)="toggleShipLock(ship)"></app-ship>
</div>

<form [formGroup]="shipForm" (submit)="addShip()">
  <div>
    <label for="name">Name:</label>
    <input #nameInput type="text" name="name" id="name" formControlName="name">
  </div>

  <div>
    <label for="kind">Kind:</label>
    <select name="kind" id="kind" formControlName="kind">
      <option *ngFor="let k of shipKinds" [ngValue]="k.value">{{ k.name }}</option>
    </select>
  </div>

  <div>
    <label for="speed">Speed:</label>
    <input type="number" name="speed" id="speed" formControlName="speed" step="1" min="0">
  </div>

  <div>
    <label for="firePower">Fire Power:</label>
    <input type="number" name="firePower" id="firePower" formControlName="firePower" step="1" min="0">
  </div>

  <div>
    <label for="cargo">Cargo Capacity:</label>
    <input type="number" name="cargo" id="cargo" formControlName="cargoCapacity" step="1" min="0">
  </div>

  <div>
    <button type="submit" [disabled]="shipForm.invalid">Ajouter</button>
  </div>
</form>
