@import url("https://use.typekit.net/vxm4tcl.css");
@import "~normalize.css";
@import "blackflag-font";
@import "blackflag-theme";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
