<form [formGroup]="shipForm" (submit)="addShip()">
  <mat-form-field>
    <input matInput type="text" name="name" id="name" formControlName="name" placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <mat-select name="kind" id="kind" formControlName="kind" placeholder="Ship kind">
      <mat-option *ngFor="let k of shipKinds" [value]="k.value">{{ k.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <span matPrefix class="icon-cargo">&nbsp;</span>
    <input matInput type="number" name="cargo" id="cargo" formControlName="cargoCapacity" step="1" min="0" placeholder="Cargo capacity">
  </mat-form-field>

  <mat-form-field>
    <span matPrefix class="icon-speed">&nbsp;</span>
    <input matInput type="number" name="speed" id="speed" formControlName="speed" step="1" min="0" placeholder="Speed">
  </mat-form-field>

  <mat-form-field>
    <span matPrefix class="icon-firepower">&nbsp;</span>
    <input matInput type="number" name="firePower" id="firePower" formControlName="firePower" step="1" min="0" placeholder="Fire Power">
  </mat-form-field>

  <div>
    <button mat-raised-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="shipForm.invalid">Add</button>
  </div>
</form>
